<h1>Setbacks#show</h1>
<p>Find me in app/views/setbacks/show.html.erb</p>

<h4><strong>Setback on:</strong> <%= @setback.setback_date %></h4>
<h4><strong>Set you back:</strong> $<%= @setback.setback_cost  %></h4>

