<div class="footer" style="display: flex; align-items: center; justify-content: space-between;">
   <div>
      <span style="font-size: 1.5em;">&copy CaBAob Industries</span>
   </div>

   <div>
   <% if @current_user %>
      <p class="pull-right">Logged in as: <%= @current_user[:email] %></p>
   <% end %>
   </div>
</div> 
