<div class="navbar pull-right">
  <div class="container">
   <button class="btn navbar-btn btn-toolbar"><a href="/user">User</a></button>
   <button class="btn navbar-btn btn-toolbar"><a href="/vices">Vices</a></button>
   <% if @current_user %>
   <%= form_for :user, :url => logout_path, method: :delete do |form| %>
   <button type="submit" class="btn navbar-btn btn-toolbar">Logout</button>
   <% end %>
   <% else %>
   <button class="btn navbar-btn btn-toolbar"><a href="/login"> Log In</a></button>
   <% end %>
 </div>
</div> 