<div class="navbar pull-right">
  <div class="container">
   <button class="btn navbar-btn btn-toolbar"><a href="/user">User</a></button>
   <button class="btn navbar-btn btn-toolbar"><a href="/vices">Vices</a></button>
   <% if @current_user %>
   <button type="submit" class="btn navbar-btn btn-toolbar"><a href="/logout">Log Out</a></button>
   <% else %>
   <button class="btn navbar-btn btn-toolbar"><a href="/login">Log In</a></button>
   <% end %>
 </div>
</div> 
<div class="clearfix"></div>