<div class="jumbotron img-responsive center-block fadeIn">
  <div class="center-block text-center">
  <h2 class="text-center">Want to Quit <br><span class="yellowBackground" id="js-rotating">Smoking, Doing Heroin, Something Else</span></h2>
    <p class="text-center text-justify">I am a <span id="js-rotating">So Simple, Very Doge, Much Wow, Such Cool</span> Text Rotator</p>
  </div>
</div>
<div class="clearfix"></div>
<section id="about">
  <div class="container center-block text-center">
    <div class="col-md-4 col-xs-12">
      <h3>Calculate Costs</h3>
      <div class="img-responsive frontImage"><%= image_tag("comp.png", class:"img-responsive frontImage") %></div>
      <p>See how much you could save over time by quitting your vice</p>

    </div>
    <div class="col-md-4 col-xs-12">
      <h3>Track Progress</h3>
      <%= image_tag("graph.png", class:"img-responsive frontImage") %>
      <p>Record setbacks and track total your savings over time</p>

    </div>
    <div class="col-md-4 col-xs-12">
      <h3>Set Goals</h3>
      <%= image_tag("rocket.png", class:"img-responsive frontImage") %>
      <p>Set savings goals and measure your progress</p>

    </div>
  </div>
</section>
<section id="skills">
  <div class="container">
    <h1>Home#index</h1>
  </div>
</section>

<script>
/*eslint-env browser */
/*global jQuery:false */
/*eslint-disable no-underscore-dangle */

(function ($) {
    "use strict";

    var pluginName = "Morphext",
        defaults = {
            animation: "fadeIn",
            separator: ",",
            speed: 2000,
            complete: $.noop
        };

    function Plugin (element, options) {
        this.element = $(element);

        this.settings = $.extend({}, defaults, options);
        this._defaults = defaults;
        this._init();
    }

    Plugin.prototype = {
        _init: function () {
            var $that = this;
            this.phrases = [];

            this.element.addClass("morphext");

            $.each(this.element.text().split(this.settings.separator), function (key, value) {
                $that.phrases.push($.trim(value));
            });

            this.index = -1;
            this.animate();
            this.start();
        },
        animate: function () {
            this.index = ++this.index % this.phrases.length;
            this.element[0].innerHTML = "<span class=\"animated " + this.settings.animation + "\">" + this.phrases[this.index] + "</span>";

            if ($.isFunction(this.settings.complete)) {
                this.settings.complete.call(this);
            }
        },
        start: function () {
            var $that = this;
            this._interval = setInterval(function () {
                $that.animate();
            }, this.settings.speed);
        },
        stop: function () {
            this._interval = clearInterval(this._interval);
        }
    };

    $.fn[pluginName] = function (options) {
        return this.each(function() {
            if (!$.data(this, "plugin_" + pluginName)) {
                $.data(this, "plugin_" + pluginName, new Plugin(this, options));
            }
        });
    };
})(jQuery);
  $("#js-rotating").Morphext({
    // The [in] animation type. Refer to Animate.css for a list of available animations.
    animation: "fadeIn",
    // An array of phrases to rotate are created based on this separator. Change it if you wish to separate the phrases differently (e.g. So Simple | Very Doge | Much Wow | Such Cool).
    separator: ",",
    // The delay between the changing of each phrase in milliseconds.
    speed: 2000,
    complete: function () {
        // Called after the entrance animation is executed.
    }
});
</script>