<div class="jumbotron img-responsive center-block fadeIn">
  <div class="col-md-12 animated text-center fadeIn">
  <h2 class="text-center">QUIT <span class="yellowBackground">Smoking</span></h2>
    <p class="col-md-6 col-md-offset-3 text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="container">
    <h1>Home#index</h1>
    <p>Find me in app/views/home/index.html.erb</p>
    <p>(eventually could put that stupid form here for non sign-in stuff...)</p>
 <!--  I am a <span id="js-rotating">So Simple, Very Doge, Much Wow, Such Cool</span> Text Rotator
-->
</div>
<section id="skills">
  <div class="container">
    <h1>Home#index</h1>
  </div>
</section>