<div class="jumbotron img-responsive center-block fadeIn">
  <div class="col-md-12 animated text-center fadeIn">
  <h2 class="text-center">VICE <span class="yellowBackground">GRIP</span></h2>
    <p class="col-md-6 col-md-offset-3 text-justify">Get a grip on your vices today!</p>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="container">
    
 <!--  I am a <span id="js-rotating">So Simple, Very Doge, Much Wow, Such Cool</span> Text Rotator
-->
</div>
<section id="skills">
  <div class="container">
    
  </div>
</section>