/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .navbar {
   width: 100%;
   height: 20px;
   /*background-color: rgba(f,f,f,.6);*/
 }

 body {
  font-family: "futura-pt",sans-serif;
  font-style: normal;
  background-color: #1B1B1B;
  color: white !important;
}

.btn {
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 1px;
  background-color: black;
  margin-right: 10px;
  color: white !important;
}


h2, h1 {
  font-weight: 700;
  font-size: 4.5em;
  color: #000;
  display: inline-block !important;
  line-height: 1.3em;
  letter-spacing: -1.5px;
  text-transform: capitalize;
  color: white !important;
}

h3 {
  font-weight: 700;
  text-transform: uppercase;
  color: white;
}

a:visited {
  color: inherit;
}

.btn:hover {
  background-color: #FDB930;
  color: black !important;
}

input {
  color: black;
}

input
{
  border: 0 !important;
  border-bottom: 2px solid white !important;
  outline: 0;
  background-color: #1B1B1B;
  color: white;
  width: 100%;
  margin-bottom: 20px;
}

.jumbotron {
  background: image_url('hero.jpg');
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 38% 20%; 
  border-radius: 0 !important;
  margin-bottom: 0;
  background-color: #FDB930;
}

.numbers {
  font-family: "Numbers Premium A", "Numbers Premium B";
  font-style: normal;
  font-weight: 400;
}

#progressPercent {
  color: #000;
  font-weight: bold;
  height: 40px;
}

#skills {
  background-color: #000000 ;
  color: white;
  padding-bottom: 500px;
}

.yellowBackground {
  background-color: #FDB930;
  color: #000 ;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: -1.7px;
}

.yellowBackground a {
  text-decoration: none;
}

.yellowBackground a:hover {
  text-decoration: none;
  background-color: #1D9898;
}

#setbacks_container {
  background-color: #1D9898;
  padding: 20px 40px;
  color: black;
  font-weight: 700;
  margin: 50px 0;
  font-size: 1.5em;
}

.delete_button {
  color: red;
  font-weight: 700;
  font-size: 1em;
  padding: 0 0 1px 4px;
}

.delete_button:hover {
  text-decoration: none;
  color: #990000;
}



.setback_title {
    font-size: 1.5em;
    color: #fff;
    font-weight: 700;
    letter-spacing: -1.5px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.text-justify {
  text-align-last: center;
}

a .btn {
  text-decoration: none;
}

.progress-bar-warning {
    background-color: #FDB930;
}

.footer {
  background-color: black;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 200px;
  padding: 50px;
  margin-top: 60px;
}
.addVice {
  background-color: #FDB930;
  color: black !important;
  border-radius: 20px;
}

.progress {
  height: 40px !important;
}

.morphext > .animated {
    display: inline-block;
}

p {
  font-size: 18px;
}

.deleteButton:hover {
  background-color: red;
  color: #FFF !important;
}

#about {
 background-color: #1B1B1B;
 padding-bottom: 100px;
 padding-top: 20px; 
}

.frontImage {
  padding-bottom: 20px;
  height: 225px;
  margin: 0 auto;
  padding-top: 20px;
}

.yellowText {
  color: #FDB930;
}