/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.navbar {
   width: 100%;
   height: 20px;
   background-color: rgba(f,f,f,.6);
}

body {
  font-family: "Gotham A", "Gotham B", sans-serif;
  font-style: normal;
  /*font-weight: 700;*/
  background-color: #1B1B1B;
  color: white !important;
}

.btn {
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 1px;
  background-color: black;
  margin-right: 10px;
}

h2, h1 {
  font-weight: 700;
  font-size: 4.5em;
  color: #000;
  display: inline-block !important;
  line-height: 1.2em;
  letter-spacing: -1.5px;
  text-transform: capitalize;
  color: white !important;
}

h3 {
  font-weight: 700;
  text-transform: uppercase;
  color: white;
}

.yellowBackground {
  background-color: #FDB930;
  color: #000;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: -1.7px;
}

a:visited {
    color: #FDB930;
}
input {
  color: black;
}

/*input
{
    border: 0 !important;
    border-bottom: 2px solid white !important;
    outline: 0;
    background-color: #1B1B1B;
    color: white;
    width: 100%;
    margin-bottom: 20px;
}*/